/*Container maior que funciona como borda*/
.register-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;/*Ocupar a altura toda do corpo*/
    margin: 0 auto;/*Vai fazer com que o conteúdo fique sempre centralizado na tela*/

    display: flex;
    align-items: center;/*Alinha os itens verticalmente*/
    justify-content: center;/*Alinha os itens horizontalmente*/
}
/*Container menor com conteúdo*/
.register-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;/*Vai jogar a section totalmente pra esquerda e o formulário totalmente pra direita e vai colocar um espaço entre eles*/
    align-items: center;
}
/*Seção com texto sem input*/
.register-container .content section{
    width: 100%;
    max-width: 380px;
}
/*Titulo Cadastro*/
.register-container .content section h1{
    margin: 64px 0 32px;/*64 em cima, 0 nas laterais e 32 em baixo*/
    font-size: 32px;
}
/*Texto do cadastro*/
.register-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}
/*Formulário*/
.register-container .content form{
    width: 100%;
    max-width: 450px;
}
/*Input nome, email e whatsapp*/
.register-container .content form input{
    margin-top: 8px;
}
/*Input cidade e UF*/
.register-container .content form .input-group{
    display: flex;
}
/*Fazer o input UF vir depois do Input cidade*/
.register-container .conter form .input-group input + input{/*O + serve pra pegar todos os inputs que tenham um input antes, ou seja, não vai aplicar no primeiro*/
    margin-left: 8px;
}